*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(0, 133, 133);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
header{
    background-color: rgba(224, 224, 224, 0.945);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    height: 60px;
    width: 100%;
}
.Logo{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 60px;    /*estilo da logo*/ 
    color: #1b1b1b;
    padding: 0 100px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
nav ul{
    float: right;
    margin-right: 20px ;
}
nav ul li{
   display: inline-block;
   line-height: 60px;
   margin: 0 5px;
   list-style: none;
}
nav ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #0f0f0f;
    padding: 7px 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.active,a:hover{
    color: #f64b3e;
    transition: .5%;
}
.checkBtn{
    font-size: 1.5rem;
    color: #fff;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*
Desing responsivo
*/
@media (max-width:952px){
    .Logo{
        font-size: 30px;
        padding-left: 50px;
    }
}
@media (max-width:858px){
    .checkBtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5%;
    }
    #check:checked ~ ul{
        left: 0;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
}
/* Estilo da pagina login*/
#login {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 70px;
    border-radius: 2px;
    width:480px;
}
.card-header {
    padding-bottom: 100px;
    opacity: 0.8;
    color: #fff;
}
.card-header::after {
    content: "";
    width: 75px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -0px;
    margin-left: -5px;
}
.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}
.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}
.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;

}
.card-footer {
    display: flex;
    flex-direction: column;

}
.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #6d0622;
    border:none;
    color:#e1e1e1;
    margin: 16px 0;
    border-radius: 6px;
    cursor: pointer;
   font-size: 16px;

}

.card-footer a {
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;

}